body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background: rgb(78,201,229);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #game-container {
    position: relative;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 70vw;
    max-width: 580px;
    box-shadow: 0px 10px 30px rgb(40, 60, 100, 0.57);
  }
  
  h1 {
    text-align: center;
    color: #f06292;
    font-size: 2.5rem;
  }
  
  #word-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .letter-box {
    border: 2px solid #ba68c8;
    background-color: #e1bee7;
    padding: 5px 10px;
    margin: 2px;
    font-size: 24px;
    border-radius: 5px;
  }
  
  #message {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #42a5f5;
  }
  
  #attempts-remaining {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: #ef5350;
  }
  
  #letter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .letter-btn {
    background-color: #66bb6a;
    color: white;
    border: none;
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .letter-btn:hover {
    background-color: #4caf50;
  }

  .visited-letter {
    opacity: 0.4;
  }
  
  .letter-btn.disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  #restart-btn {
    background-color: #7dade9;
    color: white;
    font-size: 18px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto 0px;
    float: right;
  }
  
  #restart-btn:hover {
    background-color: #638fc4;
  }

  .level button {
    display: inline;
    color: white;
    width: 32%;
    font-size: 18px;
    padding: 10px;
    margin: 20px auto 40px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #easy {
    background-color: #19c86d;
  }

  #easy:hover {
    background-color: #09ab57;
  }

  #medium {
    background-color: #ffa726;
  }

  #medium:hover {
    background-color: #ed9510;
  }

  #hard {
    background-color: #e73c3c;
  }
  
  #hard:hover {
    background-color: #cd1e1e;
  }

  .hidden {
    display: none;
  }